In [ ]:
# 한밭대로
# 9월 14일 18시~19시 5분단위
# 9월 7일~9월 11일
## 9월 14일 18시~19시 5분단위 데이터 --> 9월 7일~9월 11일 데이터중에 최솟값인 패턴찾기

In [3]:
import pandas as pd

In [5]:
data_9_14 = pd.read_csv('D:/download/프로젝트_download/지도/도로소통 정보 데이터/9_14_18시~19시_한밭대로.csv', encoding = "CP949")
data_9_14.head()

,일자,도로,요일,방향,구간,18:00,18:05,18:10,18:15,18:20,...,19:10,19:15,19:20,19:25,19:30,19:35,19:40,19:45,19:50,19:55
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020년 09월 14일,한밭대로,월요일,상행,덕명네거리→교차로,31.9,27.4,27.8,29.7,30.3,...,33.4,27.4,31.8,35.7,35.2,32.8,31.9,32.0,35.1,35.2
2,2020년 09월 14일,한밭대로,월요일,상행,교차로→교차로,31.9,27.4,27.8,29.7,30.3,...,33.4,27.4,31.9,35.8,35.2,32.8,32.0,32.0,35.1,35.2
3,2020년 09월 14일,한밭대로,월요일,상행,교차로→노은터널서측,31.9,27.4,27.8,29.7,30.3,...,33.4,27.4,31.9,35.8,35.2,32.8,32.0,32.0,35.1,35.2
4,2020년 09월 14일,한밭대로,월요일,상행,노은터널서측→노은터널동측,31.9,27.4,27.8,29.7,30.3,...,33.4,27.4,31.9,35.8,35.2,32.8,32.0,32.0,35.1,35.2

In [7]:
data_9_14 = data_9_14[data_9_14['구간'] == "충대오거리→유성지하차도"]
data_9_14

,일자,도로,요일,방향,구간,18:00,18:05,18:10,18:15,18:20,...,19:10,19:15,19:20,19:25,19:30,19:35,19:40,19:45,19:50,19:55
21,2020년 09월 14일,한밭대로,월요일,상행,충대오거리→유성지하차도,6.7,6.3,5.8,6.7,7.0,...,6.0,6.5,6.1,5.9,6.8,6.0,6.3,5.9,5.8,6.7

In [10]:
data_9_14 = data_9_14.iloc[:,5:]
data_9_14

,18:25,18:30,18:35,18:40,18:45,18:50,18:55,19:00,19:05,19:10,19:15,19:20,19:25,19:30,19:35,19:40,19:45,19:50,19:55
21,5.9,5.2,5.0,5.8,5.0,5.8,5.6,5.5,6.3,6.0,6.5,6.1,5.9,6.8,6.0,6.3,5.9,5.8,6.7

In [12]:
data_9_14.reset_index(drop=True, inplace = True)
data_9_14

,18:25,18:30,18:35,18:40,18:45,18:50,18:55,19:00,19:05,19:10,19:15,19:20,19:25,19:30,19:35,19:40,19:45,19:50,19:55
0,5.9,5.2,5.0,5.8,5.0,5.8,5.6,5.5,6.3,6.0,6.5,6.1,5.9,6.8,6.0,6.3,5.9,5.8,6.7

In [6]:
data = pd.read_csv('D:/download/프로젝트_download/지도/도로소통 정보 데이터/9월7~11일_한밭대로.csv', encoding = "CP949")
data.head()

,일자,도로,요일,방향,구간,0:00,0:05,0:10,0:15,0:20,...,23:10,23:15,23:20,23:25,23:30,23:35,23:40,23:45,23:50,23:55
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020년 09월 07일,한밭대로,월요일,상행,덕명네거리→교차로,33.7,39.7,44.4,36.8,42.5,...,40.4,43.8,44.8,47.7,40.0,44.3,45.1,42.7,43.2,36.6
2,2020년 09월 07일,한밭대로,월요일,상행,교차로→교차로,33.7,39.7,44.4,36.8,42.5,...,40.4,43.8,44.8,47.7,40.0,44.3,45.1,42.7,43.2,36.6
3,2020년 09월 07일,한밭대로,월요일,상행,교차로→노은터널서측,33.7,39.7,44.4,36.8,42.5,...,40.4,43.8,44.8,47.7,40.0,44.3,45.1,42.7,43.2,36.6
4,2020년 09월 07일,한밭대로,월요일,상행,노은터널서측→노은터널동측,33.7,39.7,44.4,36.8,42.5,...,40.4,43.8,44.8,47.7,40.0,44.3,45.1,42.7,43.2,36.6

In [8]:
data = data[data['구간'] == "충대오거리→유성지하차도"]
data.head()

,일자,도로,요일,방향,구간,0:00,0:05,0:10,0:15,0:20,...,23:10,23:15,23:20,23:25,23:30,23:35,23:40,23:45,23:50,23:55
21,2020년 09월 07일,한밭대로,월요일,상행,충대오거리→유성지하차도,7.5,6.0,6.0,6.9,7.7,...,7.5,8.8,9.0,8.8,8.4,8.0,9.3,9.0,9.7,8.7
79,2020년 09월 08일,한밭대로,화요일,상행,충대오거리→유성지하차도,11.3,10.3,9.1,8.6,10.0,...,11.8,9.8,8.7,7.6,9.0,10.1,11.4,12.2,12.7,13.0
137,2020년 09월 09일,한밭대로,수요일,상행,충대오거리→유성지하차도,9.1,6.4,6.0,7.0,7.8,...,6.5,7.7,8.6,9.7,11.0,11.6,12.1,13.8,11.4,10.2
195,2020년 09월 10일,한밭대로,목요일,상행,충대오거리→유성지하차도,7.1,5.0,5.0,5.8,6.5,...,5.8,5.7,6.6,7.4,8.4,9.5,10.3,10.8,11.1,11.3
253,2020년 09월 11일,한밭대로,금요일,상행,충대오거리→유성지하차도,7.9,7.1,6.6,7.7,8.7,...,5.0,5.8,5.0,5.0,5.0,5.0,5.8,5.0,5.6,5.5

In [11]:
data = data.iloc[:,5:]
data

,0:00,0:05,0:10,0:15,0:20,0:25,0:30,0:35,0:40,0:45,...,23:10,23:15,23:20,23:25,23:30,23:35,23:40,23:45,23:50,23:55
21,7.5,6.0,6.0,6.9,7.7,5.0,6.2,6.2,5.9,6.8,...,7.5,8.8,9.0,8.8,8.4,8.0,9.3,9.0,9.7,8.7
79,11.3,10.3,9.1,8.6,10.0,10.0,8.9,8.5,7.7,9.0,...,11.8,9.8,8.7,7.6,9.0,10.1,11.4,12.2,12.7,13.0
137,9.1,6.4,6.0,7.0,7.8,8.8,7.3,6.5,5.7,6.7,...,6.5,7.7,8.6,9.7,11.0,11.6,12.1,13.8,11.4,10.2
195,7.1,5.0,5.0,5.8,6.5,7.3,8.2,9.3,9.7,11.1,...,5.8,5.7,6.6,7.4,8.4,9.5,10.3,10.8,11.1,11.3
253,7.9,7.1,6.6,7.7,8.7,7.0,7.4,7.4,6.6,7.8,...,5.0,5.8,5.0,5.0,5.0,5.0,5.8,5.0,5.6,5.5

In [13]:
data.reset_index(drop=True, inplace = True)
data

,0:00,0:05,0:10,0:15,0:20,0:25,0:30,0:35,0:40,0:45,...,23:10,23:15,23:20,23:25,23:30,23:35,23:40,23:45,23:50,23:55
0,7.5,6.0,6.0,6.9,7.7,5.0,6.2,6.2,5.9,6.8,...,7.5,8.8,9.0,8.8,8.4,8.0,9.3,9.0,9.7,8.7
1,11.3,10.3,9.1,8.6,10.0,10.0,8.9,8.5,7.7,9.0,...,11.8,9.8,8.7,7.6,9.0,10.1,11.4,12.2,12.7,13.0
2,9.1,6.4,6.0,7.0,7.8,8.8,7.3,6.5,5.7,6.7,...,6.5,7.7,8.6,9.7,11.0,11.6,12.1,13.8,11.4,10.2
3,7.1,5.0,5.0,5.8,6.5,7.3,8.2,9.3,9.7,11.1,...,5.8,5.7,6.6,7.4,8.4,9.5,10.3,10.8,11.1,11.3
4,7.9,7.1,6.6,7.7,8.7,7.0,7.4,7.4,6.6,7.8,...,5.0,5.8,5.0,5.0,5.0,5.0,5.8,5.0,5.6,5.5